@import "./imports/_breakpoint";

.sb-section-title {
  &-primary {
    font-weight: 900;
    font-size: 24px;
    //   color: $sb-gray-500;
    
    @include pc {
      font-size: 32px;
    }
  }
}

.sb-badge {
  &-primary {
    font-weight: 700;
    font-size: 12px;
    padding: 4px 8px;
    line-height: 19.2px; //1.2;
    border-radius: 4px;
    color: $sb-primary-400;
    background-color: $sb-primary-300;

    @include pc {
      font-size: 16px;
    }
  }
}

.sb-link-primary:hover{
  color: RGBA(86, 149, 115, var(--bs-link-opacity, 1)) !important;
}
