body {
    font-family: "Newsreader", "Noto Serif TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: $sb-gray-500;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.12em;
    background-color: #FFFDF5;

}

a {
    text-decoration: none;
    color: initial;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

img {
    display: block;
}


